body{
    margin: 0;
    overflow: hidden;
    background: #000000;
}
.background{
    width: 1440px;
    height: 724px;
}
.background{
    position: relative;
    top: 0;
    left: 0px;
    width: 1440px;
    height: 724px;
    transition: all 0.2s linear;
}
.player{
    position: absolute;
    top: 341px;
    left: 90px;
    z-index: 2;
    width: 180px;
    height: 180px;
    transform: scaleX(1);
    background: url('../ressources/animation/stand-animation.gif');
    background-size: 180px;
    transition: top  0.1s ease-in-out, left 0.1s linear;
}


.health-bar{
    width: 200px;
    height: 96px;
    background: url('../ressources/hud/health-bar-3.png');
}
.bot{
    position: absolute;
    z-index: 2;
    width: 180px;
    height: 180px;
    transform: scaleX(1);
    background: url('../ressources/animation/walk-gard-animation.gif');
    background-size: 180px;
    transition: left 0.1s linear;
}
.bot-1{
    top: 84px;
    left: 1650px;
}
.bot-2{
    top: 341px;
    left: 1255px;
}
.bot-3{
    top: 341px;
    left: 2495px;
}
.bot-4{
    top: 84px;
    left: 2495px;
}
.bot-detection{
    position: absolute;
}

.bot-detection-1{
    top: 84px;
    left: 1280px;
    width: 1000px;
    height: 180px;
}
.bot-detection-2{
    top: 314px;
    left: 1280px;
    width: 700px;
    height: 180px;
}
.bot-detection-3{
    top: 314px;
    left: 2100px;
    width: 1000px;
    height: 180px;
}
.bot-detection-4{
    top: 84px;
    left: 2550px;
    width: 780px;
    height: 180px;
}
.bullet{
    position: absolute;
    height: 5px;
    width: 20px;
    border-radius: 2px;
    background: yellow;
    transition: left 2s linear;
}
.botBullet{
    position: absolute;
    height: 5px;
    width: 20px;
    border-radius: 2px;
    background: red;
    transition: left 2s linear;
}


.collision-box{
    position: absolute;
    z-index: 1;
}


.map-design{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
}

.start-wall{
    top: 0px;
    left: 0px;
    width: 100px;
    height: 800px;
}
.end-wall{
    top: 250px;
    left: 3300px;
    width: 100px;
    height: 800px;
}
.air-conditiong-wall{
    top: 0px;
    left: 3300px;
    width: 470px;
    height: 150px;
}
.exit-wall{
    top: 0px;
    left: 4300px;
    width: 100px;
    height: 520px;
}

.floor-1{
    top: 500px;
    left: 0px;
    width: 600%;
    height: 50px;
}
.floor-2{
    top: 243px;
    left: 1280px;
    width: 500%;
    height: 10px;
}
.wood-box-1{
    top: 435px;
    left: 378px;
    width: 70px;
    height: 100px;
}
.pipe{
    top: 5px;
    left: 545px;
    width: 250px;
    height: 400px;
}
.stone-box-1{
    top: 435px;
    left: 952px;
    width: 324px;
    height: 100px;
}
.stone-box-2{
    top: 366px;
    left: 1060px;
    width: 216px;
    height: 150px;
}
.stone-box-3{
    top: 300px;
    left: 1172px;
    width: 104px;
    height: 121px;
}

.little-bloc{
    top: 243px;
    left: 1265px;
    width: 150px;
    height: 58px;
}

.blue-box-1{
    top: 180px;
    left: 1548px;
    width: 66px;
    height: 100px;
}
.camera-wall{
    top: 0px;
    left: 2500px;
    width: 50px;
    height: 180px;
}

.ladders{
    position: absolute;
    z-index: 1;
}

.ladder-1{
    top: 233px;
    left: 2280px;
    width: 70px;
    height: 280px;
}
.ladder-2{
    top: 233px;
    left: 2880px;
    width: 70px;
    height: 280px;
}

.ladders-over-1{
    position: absolute;
    top: 249.3px;
    left: 2273px;
    width: 107px;
    z-index: 10;
}
.ladders-over-2{
    position: absolute;
    top: 246.3px;
    left: 2867px;
    width: 107px;
    z-index: 10;
}
.wood-box-2{
    top: 435px;
    left: 2478px;
    width: 70px;
    height: 100px;
}
.wood-box-3{
    top: 435px;
    left: 2681px;
    width: 70px;
    height: 100px;
}

.openKey{
    position: absolute;
    z-index: 2;
    top: 450px;
    left: 1300px;
    width: 60px;
    box-sizing: border-box;
}

.door-1{
    position: absolute;
    z-index: 2;
    top: 85px;
    left: 2488px;
    width: 33.2px;
}

.wall-1{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 2510px;
    width: 31.4px;
}

.door-2{
    position: absolute;
    z-index: 2;
    top: 360px;
    left: 1964px;
    width: 67px;
}

.wall-2{
    position: absolute;
    z-index: 2;
    top: 273px;
    left: 2017px;
    width: 31.4px;
}


.instructions{
    position: fixed;
    top: 550px;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


.instruction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.bottom-keys{
    display: flex;

}

.instruction-name{
    width: 180px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.key{
    width: 50px;
    height: 5Opx;
    border: 2px solid #ececec;
    border-radius: 8px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.space{
    width: 400px;
}

