.player{
    background: url('ressources/run-gif.gif');
    background-size: 180px;
    position: fixed;
    width: 180px;
    height: 180px;
    top: 200px;
    left: 0px;
    transition: all 0.1s linear;
    /* animation-duration: 0.8s;
    animation: 3s infinite  alternate jump; */
}

/* @keyframes jump {
    from {
        top : 200px;
    }
    35% {
        top: 100px;
    }
    65% {
        top: 0px;
    }
    to {
        top: 200px;
    }
} */


.collision-box{
    position: fixed;
    top: 500px;
    left: 00px ;
    width: 600px;
    height: 20px;
    background: red;
}

.box1{

}

.box2{
    left:60%;
    top: 400px;
}
.box3{
    top: 200px;
}
